/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
input {
  height: 50px;
}

input.form-control {
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(29, 29, 27, 0.3);
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  margin-bottom: 25px;
  outline: none;
}
input.form-control:focus {
  background: white;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-bottom: 1px solid #d60057;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}
input.form-control.fail {
  border: 1px solid red !important;
  background: rgba(255, 0, 0, 0.3) !important;
  color: white !important;
}

.fail {
  border: 1px solid red !important;
  background: rgba(255, 0, 0, 0.3) !important;
  color: white !important;
}

.message-fail {
  border: 1px solid red !important;
  background: rgba(255, 0, 0, 0.3) !important;
  color: white !important;
  line-height: 34px;
  margin-bottom: 20px;
}

.message-success {
  border: 1px solid green !important;
  background: rgba(0, 128, 0, 0.3) !important;
  color: white !important;
  line-height: 34px;
  margin-bottom: 20px;
}

label {
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(29, 29, 27, 0.3);
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  margin-bottom: 25px;
  outline: none;
  line-height: 50px;
  cursor: pointer;
}
label:focus {
  background: white;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-bottom: 1px solid #d60057;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}

label.checkbox {
  width: 100% !important;
}
label.checkbox span {
  float: right;
}
label.checkbox p {
  float: left;
  line-height: 34px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  width: 100%;
  color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 34px;
  vertical-align: middle;
  background: url(../images/checkbox.png) left top no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked + label span {
  background: url(../images/checkbox.png) -19px top no-repeat;
}

.btn-custom {
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background: black;
  color: white;
  outline: none;
  padding: 0 20px;
}
.btn-custom:hover {
  color: white;
  background: #2a2a28;
}

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
.modal-custom {
  background: #2a2a28;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: white;
  border: 0;
}
.modal-custom .row {
  margin: 0;
  padding: 0;
}
.modal-custom [class*="col-"] {
  overflow: hidden;
  padding: 20px;
}
.modal-custom a {
  line-height: 40px;
  color: white;
}
.modal-custom #motdepasse {
  display: none;
}
.modal-custom form {
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
  width: 80%;
  text-align: center;
  height: 100%;
}
.modal-custom form input.form-control {
  background: white;
  border: 0;
  border-bottom: 1px solid rgba(29, 29, 27, 0.3);
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  margin-bottom: 3px;
  outline: none;
}
.modal-custom form input.form-control:focus {
  background: white;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-bottom: 1px solid #d60057;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}
.modal-custom form label.select {
  width: 100%;
  font-weight: 100;
  background: url(../images/arrowSelect.svg) 98% 50% no-repeat white;
  background-size: 3%;
  margin-bottom: 3px;
  height: 34px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.modal-custom form select.form-control {
  background: transparent;
  height: 34px;
  border: 0;
  border-bottom: 1px solid rgba(29, 29, 27, 0.3);
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.modal-custom form select.form-control:focus {
  background: white;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-bottom: 1px solid #d60057;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}
.modal-custom form .btn-custom {
  margin-top: 20px;
  width: 100%;
  background: #d60057;
}
.modal-custom form .btn-custom:hover {
  background: #2a2a28;
}
.modal-custom .close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  color: white;
}
.modal-custom .steps {
  line-height: 60px;
  font-size: 16px;
  font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow: hidden;
  opacity: 1;
  color: #d60057;
  height: 33%;
  padding: 30px 20px;
}
.modal-custom .iconSteps {
  text-align: center;
  border: 2px solid #f6f6f6;
  font-size: 30px;
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.bgDarkGreyLight {
  background: rgba(246, 246, 246, 0.25);
}

.navbar-custom {
  display: block;
  position: relative;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(66, 93, 157, 0.3);
  text-transform: uppercase;
  font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: white;
  line-height: 30px;
  height: auto;
}
.navbar-custom img {
  width: auto;
  height: 30px;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 12px;
  color: black;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
  outline: none;
}
.navbar-custom a {
  color: #2a2a28;
}
.navbar-custom .nav li a {
  line-height: 30px;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
  background: none;
  border-bottom: 1px dashed #d60057;
}
.navbar-custom .nav li.active {
  outline: none;
  color: #d60057;
}
.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li a.active {
  outline: none;
  color: #d60057;
}
.navbar-custom .fa {
  color: #d60057;
}

@media (min-width: 767px) {
  .navbar {
    font-size: 14px;
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 1s ease-in-out,padding 1s ease-in-out;
    -moz-transition: background 1s ease-in-out,padding 1s ease-in-out;
    transition: background 1s ease-in-out,padding 1s ease-in-out;
  }

  .top-nav-collapse {
    padding: 30px 0;
    background-color: white;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 992px) {
  .navbar {
    font-size: 12px;
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 1s ease-in-out,padding 1s ease-in-out;
    -moz-transition: background 1s ease-in-out,padding 1s ease-in-out;
    transition: background 1s ease-in-out,padding 1s ease-in-out;
  }
  .navbar .nav li a {
    line-height: 30px;
  }
  .navbar img {
    width: auto;
    height: 30px;
  }

  .top-nav-collapse {
    padding: 10px 0;
    background-color: white;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
#recherche-filtre {
  padding: 50px 0;
}
#recherche-filtre input {
  height: 50px;
}
#recherche-filtre input.form-control {
  background: white;
  border: 0;
  border-bottom: 1px solid rgba(29, 29, 27, 0.3);
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  margin-bottom: 25px;
  outline: none;
}
#recherche-filtre input.form-control:focus {
  background: white;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-bottom: 1px solid #d60057;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}
#recherche-filtre .btn-custom {
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background: black;
  color: white;
  outline: none;
  padding: 0 20px;
  width: 100%;
}
#recherche-filtre .btn-custom:hover {
  color: white;
  background: #d60057;
}
#recherche-filtre form .fa {
  position: absolute;
  top: 0;
  right: 40px;
  width: 10px;
  line-height: 50px;
  color: #d60057;
}
#recherche-filtre .selectMultipleSpecialite .ms-choice > div {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background: url("../images/icoBook.png") left top no-repeat;
}
#recherche-filtre .selectMultipleSpecialite .ms-choice > div.open {
  background: url("../images/icoBook.png") left top no-repeat;
}
#recherche-filtre .selectMultiplePratique .ms-choice > div {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background: url("../images/icoEyedropper.png") left top no-repeat;
}
#recherche-filtre .selectMultiplePratique .ms-choice > div.open {
  background: url("../images/icoEyedropper.png") left top no-repeat;
}
#recherche-filtre .selectMultipleSpecialite.ms-parent, #recherche-filtre .selectMultiplePratique.ms-parent {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}
#recherche-filtre .selectMultipleSpecialite.ms-parent .ms-choice, #recherche-filtre .selectMultiplePratique.ms-parent .ms-choice {
  background: white;
  border: 0;
  border-bottom: 1px solid rgba(29, 29, 27, 0.3);
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  outline: none;
  height: 50px;
}
#recherche-filtre .selectMultipleSpecialite.ms-parent .ms-choice span, #recherche-filtre .selectMultiplePratique.ms-parent .ms-choice span {
  line-height: 50px;
  padding: 0 10px;
}
#recherche-filtre .selectMultipleSpecialite.ms-parent .ms-choice:focus, #recherche-filtre .selectMultiplePratique.ms-parent .ms-choice:focus {
  background: white;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-bottom: 1px solid #d60057;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}
#recherche-filtre .selectMultipleSpecialite.ms-parent .ms-choice.fail, #recherche-filtre .selectMultiplePratique.ms-parent .ms-choice.fail {
  border: 1px solid red !important;
  background: rgba(255, 0, 0, 0.3) !important;
  color: white !important;
}
#recherche-filtre .selectMultipleSpecialite.ms-parent .ms-drop, #recherche-filtre .selectMultiplePratique.ms-parent .ms-drop {
  background: white;
  border: 0;
  border-bottom: 1px solid rgba(29, 29, 27, 0.3);
  border-top: 1px solid #d60057;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#recherche-filtre .selectMultipleSpecialite.ms-parent .ms-drop ul, #recherche-filtre .selectMultiplePratique.ms-parent .ms-drop ul {
  padding: 10px;
}
#recherche-filtre .selectMultipleSpecialite.ms-parent .ms-drop li, #recherche-filtre .selectMultiplePratique.ms-parent .ms-drop li {
  width: 100% !important;
  height: 20px !important;
  line-height: 20px;
  vertical-align: middle;
}
#recherche-filtre .selectMultipleSpecialite.ms-parent .ms-drop input, #recherche-filtre .selectMultiplePratique.ms-parent .ms-drop input {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}
#recherche-filtre .selectMultipleSpecialite.ms-parent .ms-drop input[type="checkbox"], #recherche-filtre .selectMultiplePratique.ms-parent .ms-drop input[type="checkbox"] {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}
#recherche-filtre .selectMultipleSpecialite.ms-parent .ms-drop label, #recherche-filtre .selectMultiplePratique.ms-parent .ms-drop label {
  float: left;
  margin: 0;
  font-size: 12px;
  border: none;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}

.pink {
  color: #d60057;
}

#liste-recherche {
  padding: 50px 0;
}
#liste-recherche .photo img {
  width: 100%;
}
#liste-recherche .liste-item {
  cursor: pointer;
  background: white;
  padding: 20px 0;
  min-height: 151px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
#liste-recherche .liste-item:hover {
  -webkit-transform: translateY(-3px);
  -khtml-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}
#liste-recherche .liste-infos {
  line-height: 30px;
}
#liste-recherche .name {
  font-size: 20px;
  font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#liste-recherche .speciality {
  color: #d60057;
}
#liste-recherche hr {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 1px;
  border-top: 1px dashed #2a2a28;
}
#liste-recherche .list-spec {
  background: #f6f6f6;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 30px;
  text-align: center;
  font-size: 10px;
}
#liste-recherche .col-sm-6 {
  padding: 1px;
}

#infos-profile {
  padding: 100px 0;
}
#infos-profile p {
  font-size: 12px;
}
#infos-profile .list-pratique {
  background: white;
  margin-bottom: 2px;
  line-height: 40px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
#infos-profile .map {
  margin-bottom: 20px;
  border: 3px solid white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
#infos-profile li {
  line-height: 40px;
}
#infos-profile .infos-map p {
  font-size: 16px;
}
#infos-profile .infos-map .fa {
  float: left;
  font-size: 20px;
  line-height: 20px;
  color: #d60057;
}
#infos-profile form input {
  float: left;
  width: 50%;
  text-align: right;
}
#infos-profile form input[type=submit] {
  margin-top: 40px;
  float: none;
  width: 50%;
  padding: 0 30px;
  text-align: center;
}
#infos-profile form label {
  float: left;
  width: 50%;
  height: 34px;
  line-height: 34px;
  color: rgba(29, 29, 27, 0.3);
  font-weight: 100;
}
#infos-profile form select {
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(29, 29, 27, 0.3);
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  margin-bottom: 25px;
  outline: none;
  line-height: 33px;
  width: 50%;
}
#infos-profile form select:focus {
  background: white;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-bottom: 1px solid #d60057;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}

.list-items-practices {
  margin-bottom: 20px;
}
.list-items-practices .title {
  margin-bottom: 20px;
}

#profil-medecin {
  padding: 50px 0;
  color: white;
  font-weight: 100;
}
#profil-medecin .btn-custom {
  margin-top: 20px;
  line-height: 20px;
  font-size: 10px;
}
#profil-medecin h1, #profil-medecin h3, #profil-medecin h5 {
  margin: 0;
}
#profil-medecin h1 {
  font-size: 24px;
  color: white;
  text-transform: none;
}
#profil-medecin h3 {
  font-size: 16px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  text-transform: none;
  color: #d60057;
}
#profil-medecin h5 {
  font-size: 18px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  text-transform: none;
}
#profil-medecin h5 .fa {
  color: #d60057;
}
#profil-medecin p {
  font-size: 12px;
}
#profil-medecin .photo img {
  border: 2px solid white;
  width: 100%;
}
#profil-medecin .photo .overlayEdit {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all, 0.3s, ease-in;
  -khtml-transition: all, 0.3s, ease-in;
  -moz-transition: all, 0.3s, ease-in;
  -ms-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
  cursor: pointer;
  text-align: center;
  line-height: 100%;
  vertical-align: middle;
}
#profil-medecin .photo .overlayEdit i {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  font-size: 50px;
}
#profil-medecin .photo:hover .overlayEdit {
  opacity: 1;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}
#profil-medecin .liste-item {
  background: white;
  padding: 20px 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
#profil-medecin .liste-infos {
  line-height: 30px;
}
#profil-medecin .name {
  font-size: 20px;
  font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#profil-medecin .speciality {
  color: #d60057;
}
#profil-medecin hr {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 1px;
  border-top: 1px dashed #2a2a28;
}
#profil-medecin .list-spec {
  background: #f6f6f6;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 30px;
  text-align: center;
  font-size: 10px;
}
#profil-medecin .col-sm-6 {
  padding: 1px;
}
#profil-medecin .table-horaire {
  float: left;
  width: 100%;
}
#profil-medecin .table-horaire .table-part {
  float: left;
  width: 48%;
}
#profil-medecin .table-horaire .table-separator {
  float: left;
  width: 2%;
}
#profil-medecin .table-horaire .title {
  line-height: 30px;
  font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #373733;
}
#profil-medecin .table-horaire .horaire {
  overflow: hidden;
}
#profil-medecin .table-horaire .heure {
  float: left;
  width: 25%;
  line-height: 25px;
  overflow: hidden;
  color: white;
  font-size: 10px;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
  cursor: pointer;
}
#profil-medecin .table-horaire .heure:hover {
  background: #d60057;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}
#profil-medecin .table-horaire .heure:nth-child(odd) {
  background: #373733;
}
#profil-medecin .table-horaire .heure:nth-child(odd):hover {
  background: #d60057;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}
#profil-medecin .table-horaire .heure:nth-child(even) {
  background: rgba(55, 55, 51, 0.8);
}
#profil-medecin .table-horaire .heure:nth-child(even):hover {
  background: #d60057;
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}
#profil-medecin .table-horaire .heure.inactive {
  background: rgba(55, 55, 51, 0.2);
  color: #373733;
  cursor: no-drop;
}
#profil-medecin .table-horaire .heure.inactive:hover {
  background: rgba(55, 55, 51, 0.2);
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}
#profil-medecin .table-horaire .heure.active {
  -webkit-box-shadow: inset 0 0 0 2px #d60057;
  -khtml-box-shadow: inset 0 0 0 2px #d60057;
  -moz-box-shadow: inset 0 0 0 2px #d60057;
  -ms-box-shadow: inset 0 0 0 2px #d60057;
  -o-box-shadow: inset 0 0 0 2px #d60057;
  box-shadow: inset 0 0 0 2px #d60057;
}
#profil-medecin .table-horaire .heure.active:hover {
  background: rgba(55, 55, 51, 0.2);
  -webkit-transition: all, 0.8s, ease-in;
  -khtml-transition: all, 0.8s, ease-in;
  -moz-transition: all, 0.8s, ease-in;
  -ms-transition: all, 0.8s, ease-in;
  -o-transition: all, 0.8s, ease-in;
  transition: all, 0.8s, ease-in;
}

@media (max-width: 767px) {
  #profil-medecin .photo {
    width: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  #profil-medecin .col-md-5 h6 {
    font-size: 10px;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  #profil-medecin .photo {
    width: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  #profil-medecin .col-md-5 h6 {
    font-size: 10px;
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  #profil-medecin .photo {
    width: 100%;
    margin: 0;
  }
  #profil-medecin .col-md-7 h1 {
    font-size: 22px;
    margin-top: 0;
  }
  #profil-medecin .col-md-7 h3 {
    font-size: 18px;
    margin-top: 0;
  }
  #profil-medecin .col-md-7 h5 {
    font-size: 18px;
    margin-top: 0;
  }
  #profil-medecin .col-md-5 h6 {
    font-size: 12px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  #profil-medecin .photo {
    width: 100%;
    margin: 0;
  }
  #profil-medecin .col-md-7 h1 {
    font-size: 22px;
    margin-top: 0;
  }
  #profil-medecin .col-md-7 h3 {
    font-size: 18px;
    margin-top: 0;
  }
  #profil-medecin .col-md-7 h5 {
    font-size: 18px;
    margin-top: 0;
  }
  #profil-medecin .col-md-5 h6 {
    font-size: 12px;
    margin-top: 0;
  }
}

/*# sourceMappingURL=pages.css.map */
