@import "reset.scss";
@import "css3-mixins.scss";
@import "colors.scss";

html,body{height: 100%;}

body{
    background:#fefefe;
    background:url('../images/bgWAD2015.jpg') center 0;
    background-attachment : fixed;
    background-size: cover;
}

//*{
//    @include transition(all, .5s, ease-in);
//}

.vignette{
    margin-bottom: 30px;
    background: rgba(red, 1);
}

svg{display:block;}

.container-fluid {
    padding: 0px;
    //   .col-lg-12{padding-top: 500px;}
}

.bgPink{
    background: rgba($pink, 1);
}
.bgDarkGrey{
    background: rgba($darkgrey, 1);
}
.bgMediumGrey{
    background: rgba($mediumgrey, 1);
}
.bgLightGrey{
    background: rgba($lightgrey, 1);
}
.bgWhite{
    background: rgba(#fff, 1);
}

.introducing{
    height: 100% !important;
    //	overflow: hidden;
}

.wad2015{
    padding:100px 0;
    color:white;
    line-height:40px;
    & .logoWAD{
        //        line-height:380px;
        vertical-align:middle;
    }
    & h2{
        text-align: right;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
}

.registration{
    padding:100px 0;
    color:white;
    line-height:20px;
    font-size: 12px;
    & p{
        margin:20px 0;
    }
    & h2{
        margin-bottom: 20px;
        text-transform: uppercase;
    }
}

.last-medical{
    padding:100px 0;
    color:white;
    line-height:20px;
    & p{
        margin:20px 0;
    }
    & h2{
        margin-bottom: 20px;
        text-transform: uppercase;
    }
}

.partners{
    padding:100px 0;
    color:$mediumgrey;
    line-height:20px;
}

.footer{
    padding:100px 0;
    color:$mediumgrey;
    line-height:20px;
}

.svg-pink{
    fill: $pink;
}
.svg-darkgrey{
    fill: $darkgrey;
}
.svg-mediumgrey{
    fill: $mediumgrey;
}
.svg-white{
    fill: #fff;
}
.svg-reverse{
    @include transform-style;
    @include transform(rotateY(180deg));
}

.pos-bot{
    width:100%;
    position:absolute;
    bottom:0;
}

.arrowSlide{
    position: relative;
    margin:40px auto;
    width: 60px;
    text-align: center;
}

.svgSplit{
    padding:0;
    mading:0;
}

@media(max-width:767px){
    .borderDashed{border-left:none; border-top:1px dashed #ffffff;}
}
@media(min-width:768px){
    .borderDashed{border-left:none; border-top:1px dashed #ffffff;}
}
@media(min-width:992px){
    .borderDashed{border-top:none; border-left:1px dashed #ffffff;}
    .table-column{
        & container{
            display:table;
        }
        & [class*="col-"] {
            float:none;
            display:table-cell;
            vertical-align:top;
        }
    }
    .no-table-column{
        & container{
            display:inline;
        }
        & [class*="col-"] {
            float:left;
            display:inline;
            vertical-align:top;
        }
    }
}
@media(min-width:1200px){
    .borderDashed{border-top:none; border-left:1px dashed #ffffff;}
    .table-column{
        & container{
            display:table;
        }
        & [class*="col-"] {
            float:none;
            display:table-cell;
            vertical-align:top;
        }
    }
    .no-table-column{
        & container{
            display:inline;
        }
        & [class*="col-"] {
            float:left;
            display:inline;
            vertical-align:top;
        }
    }
}