/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Volumes/HD/Documents/JK/git/wad2015/css/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 14, /Volumes/HD/Documents/JK/git/wad2015/css/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 17, /Volumes/HD/Documents/JK/git/wad2015/css/reset.scss */
body {
  line-height: 1; }

/* line 20, /Volumes/HD/Documents/JK/git/wad2015/css/reset.scss */
ol, ul {
  list-style: none; }

/* line 23, /Volumes/HD/Documents/JK/git/wad2015/css/reset.scss */
blockquote, q {
  quotes: none; }

/* line 27, /Volumes/HD/Documents/JK/git/wad2015/css/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 32, /Volumes/HD/Documents/JK/git/wad2015/css/reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 36, /Volumes/HD/Documents/JK/git/wad2015/css/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/* line 5, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
html, body {
  height: 100%; }

/* line 7, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
body {
  background: #fefefe;
  background: url('../images/bgWAD2015.jpg') center 0;
  background-attachment: fixed;
  background-size: cover; }

/* line 18, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.vignette {
  margin-bottom: 30px;
  background: red; }

/* line 23, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
svg {
  display: block; }

/* line 25, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.container-fluid {
  padding: 0px; }

/* line 30, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.bgPink {
  background: #d20057; }

/* line 33, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.bgDarkGrey {
  background: #1d1d1b; }

/* line 36, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.bgMediumGrey {
  background: #2a2a28; }

/* line 39, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.bgLightGrey {
  background: #f6f6f6; }

/* line 42, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.bgWhite {
  background: white; }

/* line 46, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.introducing {
  height: 100% !important; }

/* line 51, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.wad2015 {
  padding: 100px 0;
  color: white;
  line-height: 40px; }
  /* line 55, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .wad2015 .logoWAD {
    vertical-align: middle; }
  /* line 59, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .wad2015 h2 {
    text-align: right;
    margin-bottom: 20px;
    text-transform: uppercase; }

/* line 66, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.registration {
  padding: 100px 0;
  color: white;
  line-height: 20px;
  font-size: 12px; }
  /* line 71, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .registration p {
    margin: 20px 0; }
  /* line 74, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .registration h2 {
    margin-bottom: 20px;
    text-transform: uppercase; }

/* line 80, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.last-medical {
  padding: 100px 0;
  color: white;
  line-height: 20px; }
  /* line 84, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .last-medical p {
    margin: 20px 0; }
  /* line 87, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .last-medical h2 {
    margin-bottom: 20px;
    text-transform: uppercase; }

/* line 93, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.partners {
  padding: 100px 0;
  color: #2a2a28;
  line-height: 20px; }

/* line 99, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.footer {
  padding: 100px 0;
  color: #2a2a28;
  line-height: 20px; }

/* line 105, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.svg-pink {
  fill: #d20057; }

/* line 108, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.svg-darkgrey {
  fill: #1d1d1b; }

/* line 111, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.svg-mediumgrey {
  fill: #2a2a28; }

/* line 114, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.svg-white {
  fill: #fff; }

/* line 117, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.svg-reverse {
  -webkit-transform-style: preserve-3d;
  -khtml-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
  -khtml-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

/* line 122, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.pos-bot {
  width: 100%;
  position: absolute;
  bottom: 0; }

/* line 128, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.arrowSlide {
  position: relative;
  margin: 40px auto;
  width: 60px;
  text-align: center; }

/* line 135, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
.svgSplit {
  padding: 0;
  mading: 0; }

@media (max-width: 767px) {
  /* line 141, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .borderDashed {
    border-left: none;
    border-top: 1px dashed #ffffff; }
 }

@media (min-width: 768px) {
  /* line 144, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .borderDashed {
    border-left: none;
    border-top: 1px dashed #ffffff; }
 }

@media (min-width: 992px) {
  /* line 147, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .borderDashed {
    border-top: none;
    border-left: 1px dashed #ffffff; }

  /* line 149, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .table-column container {
    display: table; }
  /* line 152, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .table-column [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top; }

  /* line 159, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .no-table-column container {
    display: inline; }
  /* line 162, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .no-table-column [class*="col-"] {
    float: left;
    display: inline;
    vertical-align: top; }
 }

@media (min-width: 1200px) {
  /* line 170, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .borderDashed {
    border-top: none;
    border-left: 1px dashed #ffffff; }

  /* line 172, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .table-column container {
    display: table; }
  /* line 175, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .table-column [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top; }

  /* line 182, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .no-table-column container {
    display: inline; }
  /* line 185, /Volumes/HD/Documents/JK/git/wad2015/css/template.scss */
  .no-table-column [class*="col-"] {
    float: left;
    display: inline;
    vertical-align: top; }
 }

/*# sourceMappingURL=template.css.map */